/* Start Settings */
.settings {
  padding: 30px 15px 0 15px;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.settings h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.settings>div {
  margin-bottom: 15px;
}

.error_message {
  color: firebrick;
  background-color: lightpink;
  text-transform: capitalize;
  width: 100%;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* End Settings */

/* Start Controllers */
.controllers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.controllers a {
  padding: 5px 10px;
  border: 1px solid #eee;
  text-transform: capitalize;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.controllers a.active {
  background: #eee;
}

/* End Controllers */

/* Start Posts Viewer */
.posts_viewer {
  width: 100%;
}

.posts_viewer .viewer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.posts_viewer .loading {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.posts_viewer .load_more_posts_btn {
  border: none;
  outline: none;
  background: none;
  display: block;
  margin: 10px auto;
  color: #777;
  text-decoration: underline;
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 11px;
}

.posts_viewer .no_more_posts_message {
  color: #777;
  text-align: center;
  margin: 10px auto;
  text-transform: uppercase;
  font-size: 11px;
}

/* End Posts Viewer */

/* Start Post Card */
.post_card,
.post_card a {
  position: relative;
}

.post_card a {
  display: block;
}

.post_card a::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.post_card:hover a::before {
  background-color: rgba(0, 0, 0, .3);
}

.post_card a img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  user-select: none;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.post_card .delete_btn {
  outline: none;
  border: none;
  background: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.post_card .delete_btn svg {
  font-size: 18px;
  color: #f00;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.post_card .delete_btn svg:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* End Post Card */

/* Start Users Viewer */
.users_viewer {
  width: 100%;
}

.users_viewer .viewer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.users_viewer .loading {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.users_viewer .load_more_users_btn {
  border: none;
  outline: none;
  background: none;
  display: block;
  margin: 10px auto;
  color: #777;
  text-decoration: underline;
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 11px;
}

.users_viewer .no_more_users_message {
  color: #777;
  text-align: center;
  margin: 10px auto;
  text-transform: uppercase;
  font-size: 11px;
}

/* End Users Viewer */

/* Start User Card */
.user_card,
.user_card a {
  position: relative;
}

.user_card a {
  display: block;
}

.user_card a::before {
  content: "";
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.user_card:hover a::before {
  background-color: rgba(0, 0, 0, .3);
}

.user_card a img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  user-select: none;
  padding: 5px;
  border: 1px solid #eee;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.user_card .delete_btn {
  outline: none;
  border: none;
  background: none;
  position: absolute;
  top: 10px;
  right: 15px;
}

.user_card .delete_btn svg {
  font-size: 18px;
  color: #f00;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.user_card .delete_btn svg:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* End Post Card */

/* Start Crated Comments */
.created_comments {
  width: 100%;
}

.created_comments .viewer {
  width: 100%;
}

.created_comments .loading {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.created_comments .load_more_comments_btn {
  border: none;
  outline: none;
  background: none;
  display: block;
  margin: 10px auto;
  color: #777;
  text-decoration: underline;
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 11px;
}

.created_comments .no_more_comments_message {
  color: #777;
  text-align: center;
  margin: 10px auto;
  text-transform: uppercase;
  font-size: 11px;
}

.comment_card {
  position: relative;
  padding: 15px 30px 15px 15px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.comment_card .content {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 5px;
}

.comment_card .created_at {
  display: block;
  font-size: 12px;
  color: #555;
}

.comment_card .comment_post_link {
  font-size: 12px;
  text-decoration: underline;
  color: #00f;
}

.comment_card .delete_btn {
  outline: none;
  border: none;
  background: none;
  position: absolute;
  top: 10px;
  right: 15px;
}

.comment_card .delete_btn svg {
  font-size: 18px;
  color: #f00;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.comment_card .delete_btn svg:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* End Created Comments */

/* Start Reports */
.reports {
  width: 100%;
}

.reports .viewer {
  width: 100%;
}

.reports .loading {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reports .load_more_reports_btn {
  border: none;
  outline: none;
  background: none;
  display: block;
  margin: 10px auto;
  color: #777;
  text-decoration: underline;
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 11px;
}

.reports .no_more_reports_message {
  color: #777;
  text-align: center;
  margin: 10px auto;
  text-transform: uppercase;
  font-size: 11px;
}

.report_card {
  position: relative;
  padding: 15px 30px 15px 15px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.report_card .content {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 5px;
}

.report_card .created_at {
  display: block;
  font-size: 12px;
  color: #555;
}

.report_card .update_report_link {
  font-size: 12px;
  text-decoration: underline;
  color: #00f;
}

.report_card .delete_btn {
  outline: none;
  border: none;
  background: none;
  position: absolute;
  top: 10px;
  right: 15px;
}

.report_card .delete_btn svg {
  font-size: 18px;
  color: #f00;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.report_card .delete_btn svg:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* End Created Comments */