.settings {
  padding: 30px 15px 0 15px;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.settings h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.settings>div {
  margin-bottom: 15px;
}