.create_report {
  padding: 15px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.create_report h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.create_report textarea {
  resize: none;
  border: none;
  outline: none;
  background-color: var(--main-input-bg);
  width: 100%;
  height: calc(100vh - 220px);
  font-size: 13px;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.create_report a {
  font-size: 12px;
  margin: auto;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}