/* Start Update Profile */
.loading_container,
.error_container {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error_message {
  color: firebrick;
  background-color: lightpink;
  text-transform: capitalize;
  width: 100%;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.update_profile {
  padding: 30px 15px 0 15px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.update_profile h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.update_profile>div {
  margin-bottom: 15px;
}

/* End Update Profile */

/* Start Update User Info Section */
.update_user_info {
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.update_user_info h3 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 12px;
}

.update_user_info>div {
  width: 100%;
  position: relative;
}

.update_user_info>div label {
  font-size: 13px;
  display: block;
  width: fit-content;
  margin-bottom: 2px;
}

.update_user_info>div>span.check_mark {
  position: absolute;
  top: 35px;
  right: 15px;
}

.update_user_info input,
.update_user_info textarea {
  border: none;
  outline: none;
  background-color: #eee;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.update_user_info textarea {
  height: 120px;
  resize: none;
}

.update_user_info input:read-only,
.update_user_info textarea:read-only {
  opacity: .6;
}

.update_user_info>div>p.instructions {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 99;
  width: 100%;
  font-size: 0.75rem;
  line-height: 1.6;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.update_user_info>div>p.instructions>svg {
  margin-right: 0.25rem;
}

.update_user_info>div>p.instructions>span {
  font-size: 0.75rem;
}

.update_user_info .valid {
  color: limegreen;
}

.update_user_info .invalid {
  color: red;
}

.update_user_info .links_container {
  margin-bottom: 15px;
}

.update_user_info .links_container .links {
  margin-bottom: 5px;
}

.update_user_info .links_container .links .link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.update_user_info .links_container .links .link a {
  font-size: 13px;
  text-decoration: underline;
  color: #00f;
}

.update_user_info .links_container .links .link button {
  outline: none;
  border: none;
  background: none;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #f00;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.update_user_info .links_container .links .no_links_added {
  font-size: 12px;
}

.update_user_info .links_container .add_link {
  display: flex;
  align-items: center;
  gap: 15px;
}

.update_user_info .links_container .add_link input {
  margin-bottom: 0;
}

.update_user_info .links_container .add_link button {
  outline: none;
  border: none;
  background: none;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #ddd;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.update_user_info button[type="submit"] {
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 5px 15px;
  color: #000;
  background: transparent;
  border: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* End Update User Info Section */

/* Start Update User Avatar */
.update_avatar {
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.update_avatar h3 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 12px;
}

.update_avatar>div {
  width: 100%;
  position: relative;
}

.update_user_info input,
.update_user_info textarea {
  border: none;
  outline: none;
  background-color: #eee;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.update_avatar .avatar {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #eee;
  width: 100%;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.update_avatar .avatar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  user-select: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.update_avatar .avatar input[type="file"] {
  width: 100%;
}
/* End Update User Avatar */

/* Start Update User Passwords */
.update_password {
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.update_password h3 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 12px;
}

.update_password>div {
  width: 100%;
  position: relative;
}

.update_password>div label {
  font-size: 13px;
  display: block;
  width: fit-content;
  margin-bottom: 2px;
}

.update_password>div>span.check_mark {
  position: absolute;
  top: 35px;
  right: 15px;
}

.update_password input,
.update_password textarea {
  border: none;
  outline: none;
  background-color: #eee;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.update_password textarea {
  height: 120px;
  resize: none;
}

.update_password input:read-only,
.update_password textarea:read-only {
  opacity: .6;
}

.update_password>div>p.instructions {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 99;
  width: 100%;
  font-size: 0.75rem;
  line-height: 1.6;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.update_password>div>p.instructions>svg {
  margin-right: 0.25rem;
}

.update_password>div>p.instructions>span {
  font-size: 0.75rem;
}

.update_password .valid {
  color: limegreen;
}

.update_password .invalid {
  color: red;
}

.update_password button[type="submit"] {
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 5px 15px;
  color: #000;
  background: transparent;
  border: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
/* End Update User Passwords */

/* Start Delete Account */
.delete_account {
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.delete_account h3 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 12px;
}

.delete_account>div {
  width: 100%;
  position: relative;
}

.delete_account>div label {
  font-size: 13px;
  display: block;
  width: fit-content;
  margin-bottom: 2px;
}

.delete_account>div>span.check_mark {
  position: absolute;
  top: 35px;
  right: 15px;
}

.delete_account input,
.delete_account textarea {
  border: none;
  outline: none;
  background-color: #eee;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.delete_account textarea {
  height: 120px;
  resize: none;
}

.delete_account input:read-only,
.delete_account textarea:read-only {
  opacity: .6;
}

.delete_account>div>p.instructions {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 99;
  width: 100%;
  font-size: 0.75rem;
  line-height: 1.6;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.delete_account>div>p.instructions>svg {
  margin-right: 0.25rem;
}

.delete_account>div>p.instructions>span {
  font-size: 0.75rem;
}

.delete_account .valid {
  color: limegreen;
}

.delete_account .invalid {
  color: red;
}

.delete_account button[type="submit"] {
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 5px 15px;
  color: #fff;
  background: #f00;
  border: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
/* End Delete Account */