.update_profile {
  padding: 30px 15px 0 15px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.update_profile h2 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}

.update_profile>div {
  margin-bottom: 15px;
}

.loading_container,
.error_container {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}