.update_comment {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, 80%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
}

.update_comment .close_btn {
  outline: none;
  border: none;
  background: none;
  position: absolute;
  top: 20px;
  right: 30px;
}

.update_comment .close_btn svg {
  font-size: 20px;
  color: #fff;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.update_comment .close_btn:hover svg {
  color: #f00;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.update_comment form {
  width: calc(100% - 30px);
  max-width: 500px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.update_comment .error_message {
  color: firebrick;
  background-color: lightpink;
  text-transform: capitalize;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.update_comment textarea {
  resize: none;
  border: none;
  outline: none;
  background-color: #eee;
  width: 100%;
  height: 200px;
  font-size: 14px;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.update_comment button[type="submit"] {
  border: none;
  outline: none;
  color: #000;
  background: #fff;
  border: 1px solid #ddd;
  padding: 6px 45px;
  margin: auto;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.update_comment button[type="submit"] span {
  font-size: 14px;
  font-weight: 500;
}