.report_card {
  position: relative;
  padding: 15px 30px 15px 15px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.report_card .content p {
  font-size: 13px;
  line-height: 1.6;
  margin-bottom: 5px;
}

.report_card .content button {
  outline: none;
  border: none;
  background: none;
  font-size: 12px;
  margin-left: 10px;
}


.report_card .created_at {
  display: block;
  font-size: 12px;
  color: #555;
}

.report_card .update_report_link,
.report_card .view_report_link {
  display: block;
  font-size: 12px;
  text-decoration: underline;
  color: #00f;
}

.report_card .delete_btn {
  outline: none;
  border: none;
  background: #fff;
  box-shadow: 2px 2px 5px 0px #eee;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.report_card .delete_btn svg {
  font-size: 16px;
  color: #777;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.report_card .delete_btn:hover svg {
  color: #f00;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}