.comments .title {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.comments .comments_container {
  width: 100%;
  max-height: 300px;
  margin-bottom: 15px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.comments .comments_container .loading_container {
  width: 100%;
  min-height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments .comments_container .no_comments_added {
  width: 100%;
  min-height: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments .comments_container .load_more_comments_btn {
  border: none;
  outline: none;
  background: none;
  display: block;
  margin: auto;
  color: #777;
  text-decoration: underline;
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
}

.comments .comments_container .no_more_comments_message {
  color: #777;
  text-align: center;
  font-size: 12px;
}

.comments .send_comment {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comments .send_comment textarea {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 14px;
  resize: none;
  outline: none;
  border: 1px solid #eee;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.comments .send_comment .emoji {
  position: relative;
}

.comments .send_comment .emoji button {
  outline: none;
  border: none;
  background: none;
  height: fit-content;
}

.comments .send_comment .emoji button svg {
  font-size: 22px;
}

.comments .send_comment .emoji .emoji_container {
  position: absolute;
  bottom: 40px;
  right: 0;
}

@media (max-width: 500px) {
  .comments .send_comment .emoji .emoji_container {
    bottom: 40px;
    right: -35px;
  }
}

.comments .send_comment .submit_btn {
  outline: none;
  border: none;
  background: none;
  height: fit-content;
}

.comments .send_comment .submit_btn svg {
  font-size: 22px;
}
