.server_error{
  width: 100%;
  min-height: 100vh;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.server_error h2 {
  font-weight: 500;
}

.server_error p {
  margin-bottom: 10px;
  font-size: 14px;
}

.server_error .buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.server_error .buttons button {
  color: #000;
  font-size: 12px;
  padding: 6px 45px;
  background-color: transparent;
  border: 1px solid #b1b1b1;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}