.comment_card {
  margin-bottom: 15px;
}

.comment_card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}

.comment_card .top a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment_card .top a img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.comment_card .top a span {
  font-size: 12px;
}

.comment_card .top a:hover span {
  text-decoration: underline;
  color: #00f;
}

.comment_card .top .comment_controllers {
  position: relative;
}

.comment_card .top .comment_controllers button {
  outline: none;
  border: none;
  background: none;
  height: 15px;
}

.comment_card .top .comment_controllers .options_list {
  min-width: 150px;
  position: absolute;
  right: 25px;
  top: 0;
  list-style: none;
  background: #fff;
  box-shadow: 3px 3px 5px 0 #ccc;
  overflow-x: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  animation: fade_up .3s ease;
  -webkit-animation: fade_up .3s ease;
}

.comment_card .top .comment_controllers .options_list li {
  width: 100%;
}

.comment_card .top .comment_controllers .options_list li button {
  width: 100%;
  padding: 14px 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment_card .top .comment_controllers .options_list li button span {
  font-size: 11px;
}

.comment_card .top .comment_controllers .options_list li button:hover {
  background: #f5f5f5;
}

.comment_card .content p {
  font-size: 12px;
  line-height: 1.7;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

.comment_card .content button {
  outline: none;
  border: none;
  background: none;
  font-size: 12px;
  margin-left: 5px;
}

@keyframes fade_up {
  from {
    opacity: 0;
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
}

  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}