.create_report {
  padding: 15px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.create_report h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.create_report .error_message {
  color: firebrick;
  background-color: lightpink;
  text-transform: capitalize;
  width: 100%;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.create_report textarea {
  resize: none;
  border: none;
  outline: none;
  background-color: var(--main-input-bg);
  width: 100%;
  height: calc(100vh - 220px);
  font-size: 13px;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.create_report button[type="submit"] {
  border: none;
  outline: none;
  font-size: 12px;
  color: #fff;
  background-color: var(--main-btn-color);
  padding: 6px 45px;
  margin: auto;
  border: 1px solid transparent;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.create_post button:disabled {
  opacity: .5;
}