.unauthorized{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.unauthorized h2 {
  font-weight: 500;
}

.unauthorized p {
  margin-bottom: 10px;
}

.unauthorized button {
  color: #000;
  font-size: 12px;
  padding: 6px 45px;
  background-color: transparent;
  border: 1px solid #b1b1b1;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}