.controllers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.controllers a {
  padding: 5px 10px;
  border: 1px solid #eee;
  text-transform: capitalize;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.controllers a.active {
  background: #eee;
}