.update_group_chat {
  padding: 30px 15px;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(0, 0, 0, .8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  overflow-y: auto;
}

.update_group_chat .container {
  padding: 15px;
  width: calc(100% - 30px);
  max-width: 500px;
  max-height: 80vh;
  background: #fff;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.update_group_chat .container h2 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}

.update_group_chat .container input {
  border: none;
  outline: none;
  background-color: #eee;
  width: 100%;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.update_group_chat .container input[name="groupName"] {
  margin-bottom: 15px;
}

.update_group_chat .container .selected_users {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #eee;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.update_group_chat .container .selected_users .user_card {
  padding: 0 10px;
  border: 1px solid #eee;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.update_group_chat .container .selected_users .user_card span {
  font-size: 12px;
}

.update_group_chat .container .selected_users .user_card button {
  outline: none;
  border: none;
  background: none;
}

.update_group_chat .container .selected_users .user_card button svg {
  margin-left: 10px;
  font-size: 12px;
  color: #f00;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.update_group_chat .container .search {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.update_group_chat .container .search>button {
  border: none;
  outline: none;
  background-color: #eee;
  padding: 8px 14px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.update_group_chat .container .search>button svg {
  font-size: 18px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.update_group_chat .container .search>button:hover svg {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.update_group_chat .container .spinner_container,
.update_group_chat .container .start_search_msg {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: 1px solid #eee;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.update_group_chat .container .search_result_container {
  width: 100%;
  max-height: 40vh;
  overflow-y: auto;
}

.update_group_chat .container .search_result_container .user_card {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #eee;
  cursor: pointer;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.update_group_chat .container .search_result_container .user_card img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  user-select: none;
  border: 1px solid #eee;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.update_group_chat .container .search_result_container .user_card span {
  font-size: 13px;
}

.update_group_chat .container .update_btn {
  outline: none;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 9px 15px;
  border: 1px solid #eee;
  margin-top: 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.update_group_chat .container .update_btn span {
  font-size: 13px;
}

.update_group_chat .container .update_btn:hover {
  background: #eee;
}

.update_group_chat .container .close_btn {
  outline: none;
  border: none;
  background: none;
  position: absolute;
  top: 15px;
  right: 20px;
}

.update_group_chat .container .close_btn svg {
  font-size: 20px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.update_group_chat .container .close_btn:hover svg {
  color: #f00;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}