.not_found{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not_found h2 {
  font-weight: 500;
}

@media (max-width: 1000px) {
  .not_found {
    text-align: center;
  }
}