.sidebar {
  width: 250px;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-right: 1px solid #dbdbdb;
  overflow-x: hidden;
  overflow-y: auto;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}

.sidebar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.sidebar .logo {
  padding: 20px 15px 8px 15px;
}

.sidebar .logo img {
  width: 100px;
  user-select: none;
}

.sidebar .links {
  list-style: none;
}

.sidebar .links li a,
.sidebar .more_list .more_btn {
  display: block;
  padding: 10px 15px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
}

.sidebar .links li a svg,
.sidebar .more_list .more_btn svg {
  font-size: 22px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.sidebar .links li a img.avatar {
  width: 25px;
  height: 25px;
  user-select: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.sidebar .links li a:hover,
.sidebar .more_list .more_btn:hover {
  background: #f0f0f0;
}

.sidebar .links li a:hover svg,
.sidebar .more_list .more_btn:hover svg {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.sidebar .active span {
  font-weight: 500;
}

.sidebar .more_list {
  width: 100%;
  position: relative;
  margin-top: auto;
}

.sidebar .more_list nav {
  padding: 10px;
  width: calc(250px - 20px);
  background-color: #fff;
  box-shadow: 5px 5px 12px #aaa;
  position: absolute;
  bottom: calc(100% + 10px);
  left: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.sidebar .more_list .more_btn {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

@media (max-width: 768px) {
  .sidebar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    position: fixed;
    top: revert;
    bottom: 0;
    left: 0;
    border-right: none;
    border-top: 1px solid #dbdbdb;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .sidebar .logo {
    display: none;
  }

  .sidebar nav {
    width: 100%;
  }

  .sidebar .links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar .links li a span,
  .sidebar .more_btn span {
    display: none;
  }

  .sidebar .more_list {
    width: revert;
  }

  .sidebar .more_list nav {
    padding: 5px;
    padding-bottom: 0;
    width: fit-content;
    bottom: 0px;
    left: revert;
    right: calc(100% + 10px);
  }
}

.fade_up {
  animation: fade_up .3s ease;
  -webkit-animation: fade_up .3s ease;
}

@keyframes fade_up {
  from {
    opacity: 0;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}