.profile_controllers :is(a, button) {
  outline: none;
  border: none;
  background: none;
}

.profile_controllers :is(a, button) svg {
  margin-left: 15px;
  font-size: 20px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.profile_controllers :is(a, button):hover svg {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

@media (max-width: 500px) {
  .profile_controllers {
    margin-left: auto;
  }
}
