.search {
  padding: 15px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.search h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.search input {
  border: none;
  outline: none;
  background-color: #eee;
  width: 100%;
  font-size: 13px;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.search .search_result_container {
  width: 100%;
  height: fit-content;
  max-height: calc(100vh - 220px);
  overflow-y: auto;
}

.search .search_result_container .user_card {
  width: 100%;
  padding: 12px 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.search .search_result_container .user_card img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  user-select: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.search .search_result_container .user_card a {
  font-size: 13px;
}

.search .search_result_container .user_card a:hover {
  text-decoration: underline;
  color: #00f;
}

.search .spinner_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}