/* Start Profile */
.loading_container,
.error_container {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_profile {
  width: 100%;
  min-height: 100vh;
  padding: 30px 15px 0px 15px;
}

.user_profile .container {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.user_profile .user_info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 15px;
  row-gap: 10px;
}

.user_profile .user_info .image_container {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_profile .user_info .image_container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  user-select: none;
  border: 1px solid #eee;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user_profile .user_info .top_container {
  grid-area: 1 / 2 / 2 / 5;
}

.user_profile .user_info .top_container .controllers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.user_profile .user_info .top_container .controllers .name {
  font-size: 14px;
}

.user_profile .user_info .top_container .controllers nav a svg {
  margin-left: 15px;
  font-size: 20px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.user_profile .user_info .top_container .controllers nav a svg:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.user_profile .user_info .top_container .email {
  font-size: 14px;
}

.user_profile .user_info .bottom_container {
  grid-area: 2 / 2 / 3 / 5;
}

.user_profile .user_info .bottom_container .bio {
  font-size: 13px;
  margin-bottom: 10px;
}

.user_profile .user_info .bottom_container .links a {
  display: block;
  width: fit-content;
  font-size: 12px;
  color: #00f;
  text-decoration: underline;
}

@media (max-width: 900px) {
  .user_profile .user_info .image_container {
    grid-area: 1 / 1 / 2 / 2;
  }

  .user_profile .user_info .image_container img {
    width: 80px;
    height: 80px;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
  }

  .user_profile .user_info .bottom_container {
    grid-area: 2 / 1 / 3 / 5;
  }
}

.user_profile .posts_container .controllers {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  list-style: none;
}

.user_profile .posts_container .controllers li button {
  outline: none;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 6px;
}

.user_profile .posts_container .controllers li button :is(span, svg) {
  font-size: 14px;
  color: #777;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.user_profile .posts_container .controllers li button.active :is(span, svg) {
  color: #000;
  font-weight: 500;
}

.user_profile .posts_container .controllers li button:hover :is(span, svg) {
  color: #000;
}

/* End Profile */

/* Start Posts Viewer */
.posts_viewer {
  width: 100%;
}

.posts_viewer .viewer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.posts_viewer .viewer .post_card {
  position: relative;
}

.posts_viewer .viewer .post_card::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.posts_viewer .viewer .post_card:hover::before {
  background-color: rgba(0, 0, 0, .3);
}

.posts_viewer .viewer .post_card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  user-select: none;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.posts_viewer .loading {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.posts_viewer .load_more_posts_btn {
  border: none;
  outline: none;
  background: none;
  display: block;
  margin: 10px auto;
  color: #777;
  text-decoration: underline;
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 11px;
}

.posts_viewer .no_more_posts_message {
  color: #777;
  text-align: center;
  margin: 10px auto;
  text-transform: uppercase;
  font-size: 11px;
}

/* End Posts Viewer */