.loading_container, .error_fetching_data {
  width: 100%;
  min-height: 100vh;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.update_post {
  padding: 15px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.update_post h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.update_post .images_container {
  width: 100%;
  height: 400px;
  padding: 10px 15px;
  overflow-y: auto;
  margin-bottom: 20px;
  background-color: #eee;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.update_post .images_container .images li {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.update_post .images_container .images li img {
  width: 100%;
}

.update_post textarea {
  resize: none;
  border: none;
  outline: none;
  background-color: #eee;
  width: 100%;
  height: 150px;
  font-size: 13px;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.update_post button[type="submit"] {
  border: none;
  outline: none;
  font-size: 12px;
  color: #fff;
  background-color: #512da8;
  padding: 6px 45px;
  margin: auto;
  border: 1px solid transparent;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.update_post button:disabled {
  opacity: .5;
}