.post {
  width: 100%;
  min-height: 100vh;
  padding: 30px 15px 15px 15px;
}

.post .container {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.post .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.post .header .user_info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post .header .user_info img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  user-select: none;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
  -webkit-animation: 1s shine linear infinite;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.post .header .user_info span {
  font-size: 14px;
}

.post .header .user_info:hover span {
  text-decoration: underline;
  color: #00f;
}

.post .images_container img {
  width: 100%;
  min-height: 300px;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
  -webkit-animation: 1s shine linear infinite;
  user-select: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.post .images_container img:not(:last-child) {
  margin-bottom: 5px;
}

.post .controllers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.post .controllers span.post_date {
  font-size: 12px;
}

.post .controllers .actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.post .controllers .actions button {
  border: none;
  outline: none;
  background: none;
}

.post .controllers .actions svg {
  font-size: 18px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.post .controllers .actions svg:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.post .content {
  margin-bottom: 15px;
}

.post .content p {
  font-size: 14px;
  line-height: 1.7;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

.post .content button {
  outline: none;
  border: none;
  background: none;
  font-size: 12px;
  margin-left: 10px;
}

.loading_container {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}