.post_card {
  position: relative;
}

.post_card .post_link {
  position: relative;
  display: block;
}

.post_card .post_link::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.post_card:hover .post_link::before {
  background-color: rgba(0, 0, 0, .3);
}

.post_card .post_link img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  user-select: none;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
  -webkit-animation: 1s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.post_card :is(.delete_btn, .update_post_link) {
  outline: none;
  border: none;
  background: #fff;
  box-shadow: 2px 2px 5px 0 #444;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.post_card :is(.delete_btn, .update_post_link) svg {
  font-size: 16px;
  color: #444;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.post_card :is(.delete_btn, .update_post_link):hover svg {
  color: #f00;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.post_card .update_post_link {
  top: 10px;
  right: 55px;
}

.post_card .update_post_link:hover svg {
  color: #00f;
}