.user_card {
  width: 100%;
  padding: 12px 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.user_card img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user_card a {
  font-size: 13px;
}

.user_card a:hover {
  text-decoration: underline;
  color: #00f;
}