.followings {
  width: 100%;
  max-width: 600px;
  overflow-x: auto;
  padding: 20px 15px 0px 15px;
  margin: auto;
}

@media (max-width: 991px) {
  .followings {
    max-width: 500px;
    padding: 20px 5px 0px 5px;
  }
}

.followings::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.followings .loading_container {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.followings ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.followings li a img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  user-select: none;
  border: 2px solid #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
  -webkit-animation: 1s shine linear infinite;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@media(max-width: 768px) {
  .followings li a img {
    width: 60px;
    height: 60px;
  }
}