.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header h2 {
  font-weight: 500;
}

.header .links {
  position: relative;
}

.header .links .toggle_links_list_btn {
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
}

.header .links .toggle_links_list_btn svg {
  font-size: 20px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.header .links .toggle_links_list_btn:hover {
  background: #f0f0f0;
}

.header .links .toggle_links_list_btn:hover svg {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.header .links .links_list {
  list-style: none;
  width: 250px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 12px #aaa;
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 100000;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.header .links .links_list li a {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #eee;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
}

.header .links .links_list li:not(:last-child) a {
  margin-bottom: 8px;
}

.header .links .links_list li a:hover {
  background: #f0f0f0;
}

.header .links .links_list li a.active {
  background: #f0f0f0;
}

.header .links .links_list li a.active span {
  font-weight: 500;
}

.fade_up {
  animation: fade_up .3s ease;
  -webkit-animation: fade_up .3s ease;
}

@keyframes fade_up {
  from {
    opacity: 0;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}