.update_password {
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.update_password h3 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
}

.update_password>div {
  width: 100%;
  position: relative;
}

.update_password>div label {
  font-size: 14px;
  display: block;
  width: fit-content;
  margin-bottom: 2px;
}

.update_password>div>span.check_mark {
  position: absolute;
  top: 35px;
  right: 15px;
}

.update_password input {
  border: none;
  outline: none;
  background-color: #eee;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.update_password>div>p.instructions {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 99;
  width: 100%;
  font-size: 0.75rem;
  line-height: 1.6;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.update_password>div>p.instructions>svg {
  margin-right: 0.25rem;
}

.update_password>div>p.instructions>span {
  font-size: 0.75rem;
}

.update_password .valid {
  color: limegreen;
}

.update_password .invalid {
  color: red;
}

.update_password button[type="submit"] {
  border: none;
  outline: none;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 9px 15px;
  color: #000;
  background: transparent;
  border: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.update_password button[type="submit"] span {
  font-size: 14px;
  font-weight: 500;
}

.error_message {
  color: firebrick;
  background-color: lightpink;
  text-transform: capitalize;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}